{% if hero %}
    {% if hero.type == "video" %}
    <video
        class="page-hero"
        src="{{ hero.src }}"
        aria-label="{{ hero.alt or heading or title }}"
        autoplay
        loop
        muted
        playsinline>
    </video>
    {% else %}
    <img
        class="page-hero"
        src="{{ hero.src }}"
        alt="{{ hero.alt or heading or title }}" />
    {% endif %}
{% endif %}
<header class="page-header">
    
    <fig-tooltip text="Home">
        <fig-button type="link"
                    class="back"
                    icon="true"
                    variant="secondary"
                    href="{{ backHref or '/' }}">
            <fig-icon name="back"></fig-icon>
        </fig-button>
    </fig-tooltip>
    <h1>{{ heading or title }}</h1>
    {% if intro %}
    <p class="page-intro">{{ intro | safe }}</p>
    {% endif %}
    
</header>
