/* Resource */
.community{
    height: 100vh;
    display: flex;
    width: 420px;
    flex-direction: column;
    
}
.community>header{
    padding:0;
    padding: 0 1rem;
}
.community>header .account-menu .dropdown-trigger:not(.button){
    padding: 1rem;
}
.community>main{
    position: relative;
}
.community-resources{
   width: 100%;
   height: 100%;
overflow: auto;
}
.community-resource-thumbnail{
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 4px;
  position: relative;
}
.community-resource-thumbnail>img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.community-resource-thumbnail:after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    border-radius: inherit;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.1),inset 0 0 0 1px rgba(255,255,255,0.05),0 2px 4px -2px rgba(0,0,0,0.5),0 0 0 3.5px transparent;
}
.community-resource{
   --x: 0;
    --y: 0;
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: top;
  position: relative;
  justify-content: space-between;
  /*
    background-color: var(--figma-color-bg-secondary);
    background-color: rgba(255,255,255,0.05);
    background: radial-gradient(400px circle at calc(var(--x,0) * 100%) calc(var(--y,0) * 100%),rgba(255,255,255,0.1),transparent);
    */
    border-bottom:1px solid var(--figma-color-border);
}
.community-resource:hover{
    background-color: var(--figma-color-bg-secondary);
}
.community-resource-actions{
    visibility: hidden;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    column-gap: 0.25rem;
}
.community-resource:hover .community-resource-actions{
    visibility: visible;
}
.community-resource--selected{
    background-color: var(--figma-color-bg-secondary);
}
.community-resource .community-resource-thumbnail{
  margin-right: 1rem;
}
.community-resource-title{
    padding: 0;
    margin: 0.5rem 0 0.25rem 0;
}
.community-resource-description{
    white-space: pre-wrap;
    width: 100%; /* or any other desired width */
    overflow-wrap: break-word;
    line-height: 1.5em;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 3.5em;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 0.5rem;
}
.community-resource-description a:link{
    color: var(--figma-color-text-brand);
}
.community-resource--selected .community-resource-description{
    max-height: none;
    overflow: visible;
    display: block;
    -webkit-line-clamp: inherit;
}

.community-resource .community-creator-username{

}

.community-resource-body{
    padding: 0;
    display: flex;
    width: 100%;
}
.community-resource-header{
    display: flex;
    padding: 0 0 0.5rem 0;
    align-items: center;
    justify-content: space-between;
}
.community-resource-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.community-resource-details .community-creator{
    margin-top: auto;
}

/* Users */
.community-creator{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}
.community-creator .community-avatar + .community-creator-username{
    margin-left: 0.5rem;
}

/* Tag */
.community-resource-tags{
    padding: 0.5rem 0;
}
.tag{
    margin-left: 0.25rem;
    padding: 0 0.25rem;
    white-space: nowrap;
    font-size: 0.5rem;
    display: inline-flex;
    border-radius: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: rgba(255,255,255,0.1);
    color: var(--figma-color-text-secondary);
}
.tag.tag--brand{
    background-color: #0d99ff44;
}
.tag:first-child{
    margin-left: 0;
}


/* Publish */
.publish-community-resource{
    min-width: 60vw;
}
.publish-community-resource>main{
    padding: 1rem;
    display: flex;
    width: 100%;
}
.publish-community-resource-form{
    width: 100%;
}

/* Resource detail */
.community-resource-detail{
    padding: 1rem;
}