/* Var overrides */
/*
dialog.dynamic-dialog{
  --figma-color-bg-secondary: rgba(255,255,255,0.05);
  --figma-color-bg: var(--figma-color-bg-popup);
  --figma-color-border: rgba(255,255,255,0.1);
}*/

/* Dialog */
dialog.dynamic-dialog{
  background: var(--figma-color-bg);
  color: var(--figma-color-text);
  border: 0;
  border-radius: var(--control-radius-lg);
  padding: 0;
  min-width: 14rem;
  box-shadow:  0 0rem 3rem 2rem rgba(0,0,0,0.2), 0px 3px 5px rgba(0, 0, 0, .15), inset 0px 1px 0px rgba(255, 255, 255, .1);
  position: fixed;
  z-index: var(--z-index-dialog);
  margin:0 auto;
  pointer-events: none;
  transition: all .1666s cubic-bezier(.43,.42,.41,.78);
  will-change: transform, opacity, height;
  overflow: hidden;
  display: block;
  max-width: calc(100vw);
  top: 0;
  left:0;
  font: var(--root-font);
}
.figma-light dialog.dynamic-dialog{
  box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.5), 0px 3px 5px rgba(0, 0, 0, .15), inset 0px 1px 0px rgba(255, 255, 255, .1);
}

/* Content */
dialog.dynamic-dialog .dynamic-dialog-content{
    border: 1rem solid transparent;
    display: block;
    width: 100%;
}
.dynamic-dialog-content main{
    display: block;
}
.dynamic-dialog-content header{
  padding: 0 0 0.5rem 0;
  display: flex;
  width: 100%;
  min-height: 2rem;
  justify-content: space-between;
  align-items: center;
  color: var(--figma-color-text-secondary);
}
.dynamic-dialog-content header h3{
  margin: 0;
  padding: 0;
  color: var(--figma-color-text);
  font-weight: bold;
  font-size: inherit;
  margin-right: auto;
}    
.dynamic-dialog-content .field,
.dynamic-dialog-content .shader-list-item{
    padding-left: 0;
    padding-right: 0;
}
.dynamic-dialog-content footer{
    padding: 0.5rem 0 0 0;
}

dialog.dynamic-dialog--pin-bottom{
}
dialog.dynamic-dialog--pin-top{
}

dialog.dynamic-dialog[open]{
  opacity: 1;
  pointer-events: all;
  display: block;
}
dialog.dynamic-dialog:not([open]){
    transform: translate(0,110vh) !important;
    box-shadow: none !important;
}

/* Simple text styles */
dialog.dynamic-dialog main{
  color: var(--figma-color-text-secondary);
}
dialog.dynamic-dialog main h3{
  color: var(--figma-color-text);
}
dialog.dynamic-dialog main h3,
dialog.dynamic-dialog main p{
    font-size: inherit;
    margin: 0 0 0.5rem 0;
}
dialog.dynamic-dialog footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
dialog.dynamic-dialog footer button:first-child:last-child{
  margin-left: auto;
}
dialog.dynamic-dialog main p + h3{
  margin-top: 1rem;
}
dialog.dynamic-dialog main p:last-of-type{
  margin-bottom: 0;
}
dialog.dynamic-dialog main a:not(.button):link{
  text-decoration: underline;
  color: var(--figma-color-text);
}

dialog.dynamic-dialog .spinner{
  margin: 0.25rem;
}
dialog.dynamic-dialog .spinner:first-child{
  margin-left: 0;
}