.toggle{
    --height: 0.75rem;
    --width: 1.5rem;
    --transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    --transition-duration: 0.2s;
    position: relative;
    display: inline-flex;
    margin: 0;
    width: var(--width);
    height: var(--height);   
    
}
.toggle:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1.5px);
    height: 3px;
    background-color: var(--figma-color-border);
    border-radius: 2px;
}
.toggle:has(input[type=checkbox]:checked):before{
    background-color: currentColor;
}

.toggle-thumb{
    position: absolute;
    left:1px;
    top:1px;
    width: calc(var(--height) - 2px);
    height: calc(var(--height) - 2px);
    background: currentColor;
    color: var(--figma-color-text);
    border-radius: calc(var(--height)/2);
    pointer-events: none;
    box-shadow: 0 2px 2px -1px #00000040, inset 0 1px 1px rgb(255 255 255 / 15%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}
.toggle>input[type=checkbox]{
    display: inline-flex;
    margin: 0;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    margin: 0;
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance:none;
    outline: none;
    border: 0;
    border-radius: calc(var(--height)/2);
    color: var(--color-grey);
    accent-color: var(--figma-color-bg-brand);  
    background: none !important;
    box-shadow: inset 0 0 0 1rem var(--figma-color-border);
}
.toggle:hover>input[type=checkbox]{
     box-shadow: inset 0 0 0 1rem var(--figma-color-border),0 0 0 1px rgb(0 0 0 / 30%), inset 0 1px 3px -0.5px rgb(0 0 0 / 50%), 0 1.5px 0.5px rgb(255 255 255 / 10%), 0 2px 6px rgb(0 0 0 / 30%),0 0 0 2px var(--figma-color-bg),0 0 0 3.5px var(--figma-color-bg-brand);
}
.toggle>input[type=checkbox]:hover{
    border: 0;
    color: var(--color-grey);
}
.toggle>input[type=checkbox]:focus{
    background: none;
}
.toggle>input[type=checkbox]:checked{
    color: var(--figma-color-text) !important;
    border: 0;
    box-shadow: inset 0 0 0 1rem currentColor;
}
.toggle>input[type=checkbox]:checked:hover,
.toggle>input[type=checkbox]:checked:focus{
    color: var(--figma-color-text) !important;
    box-shadow: inset 0 0 0 1rem currentColor,0 0 0 2px var(--figma-color-bg),0 0 0 3.5px var(--figma-color-bg-brand);
}
.toggle>input[type=checkbox]:checked ~ .toggle-thumb{
    transform: translateX(calc(var(--width) - 100% - 2px));
    color: var(--figma-color-bg);
    box-shadow:  0 2px 2px -1px rgb(0 0 0 / 25%);
}